<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <title>KHURONA</title>
    <div class="intro_bg">
      <!-- <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet"> -->
      <meta name="referrer" content="no-referrer" />

 <style>
   
   /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); */
   @font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yoonwoo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  html {
      min-width: 850px;
   }
  body
  {
    margin-top: 4%;
    margin-left: 0%;
    margin-right: 5%;
    
  }
  .table
  {
    text-align: center;
    font-family: 'NanumSquareRound';
    font-size: 1rem;
  }
 td{
  padding-left: 10px;
  text-align: right;
  
 }
/* GOOGLE FONTS */

/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colores */
    --first-color: #FDEFEF;
    --bg-color: white;
    --sub-color: #2E4C6D;
    --white-color: black  ;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1.2rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 10;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

head{
  margin-top: 0;
}

body {
    position: relative;
    margin: 4rem 10px 10px 10px;
    padding: 0 0 0 6rem;
    font-family: var(--body-font);
    /* font-size: var(--normal-font-size); */
    font-size: 1rem;
    transition: .5s;
    background-repeat:repeat;
    background-color:#FDEFEF;
    overflow-x: hidden  ;
    font-family: 'NanumSquareRound';

}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

a {
    text-decoration: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 4%;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: rgb(250, 250, 250);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
    border-right:1px solid #2E4C6D; 
    
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: 20px max-content; 
    grid-template-rows: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    
}

.nav__link:hover {
    background-color: var(--first-color);
    
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    /* font-size: var(--small-font-size); */
    font-size:1rem;
    font-weight: bold;
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body*/
.body-pd {
    padding: 0rem 0 0 16rem;
    
}

/* Active links menu */
.active {
    background-color: var(--first-color);
    
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: var(--z-fixed);
    transition: .5;
    
}

.collapse__menu {
    display: none;
    padding: .75rem 1rem; 
    margin:0 auto;
    
}

.collapse__sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
    text-overflow: ellipsis;
    text-align: center;
}

.collapse__sublink:hover {
    color: var(skyblue);
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    /* transform: rotate(180deg); */
    transition: .5s;
}

header{
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: rgb(250, 250, 250);
  z-index: 800;
  place-content: left;
  border-bottom: 1px solid #2E4C6D;
  
  
  
}
.content *{
    vertical-align: middle;
    text-align: right;
   
}
.search {
    margin-top: 20px;
    height: 40px;
    width: 400px;
    
    background: #ffffff;
} 
div.anchor {
  display: block;
  position: relative;
  top: -63.3px;
  visibility: hidden;
}
footer{
  border-top:1px solid #2E4C6D; 
  
}
footer#body-pd{
  position: absolute;
  width: 100%;
  
  background-color: rgb(240,240,240);
  
  /* bottom: 0;
  left: 0;
  padding: 0rem 0 0 0rem;
  width: 100%;
  height: 50px; */
  /* padding: 10px;
  
  z-index: 800; */
  
  /* border-top: 1px solid #2E4C6D; */
  border-top: 1px solid #e3e6f0;
}
/* .card-header{
  font-family: 'SBAggroB';
  font-size: 0.5rem;
} */
.card{
  border-radius: 15px;
}



 </style>
  <link rel = "stylesheet" href = "css/Style2.css">
  <link rel = "stylesheet" href = "css/map.css">
  <link rel = "stylesheet" href = "css/Hiddeninfo.css">
</div>
<header>
  
  <img src="/img/logo.PNG"style="width:150px">
  <img src="/img/khulogo.svg" style="width:45px">


  <!-- <ion-icon name="logo-github" class="nav__icon"></ion-icon> -->
  <div style= "float: right;margin:rem;">
    <a href="http://www.github.com"style="color:black;"><ion-icon name="logo-github" class="nav__icon" style="color:black;"size="large"></ion-icon>git-hub</a>
    <a href="http://khuhub.khu.ac.kr/corona_info_map/corona_info_map"style="color:black"><ion-icon name="logo-gitlab" class="nav__icon"style="color:#FF5403;"size="large"></ion-icon>khu-hub</a>
  </div>
    
    
   
    
  
</header>

</head>


<body id="body-pd">
  
    
  <div class="l-navbar" id="navbar">
      <nav class="nav">
          <div>
              <div class="nav__brand">
                  <ion-icon name="list-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                  <a href="#" class="nav__logo" style = "margin-right:10px;">KHURONA</a>
              </div>
              <div class="nav__list">
                  <a href="#map" class="nav__link active">
                    <ion-icon name="remove-outline" class="nav__icon"></ion-icon>
                      
                      <span class="nav_name">시ㆍ도별 위험도 맵</span>
                  </a>
                  <a href="#flightinfo" class="nav__link">
                      <ion-icon name="reorder-two-outline" class="nav__icon"></ion-icon>
                      <span class="nav_name">국가별 안전 소식</span>
                  </a>

                 

                  <!-- <a href="#mask" class="nav__link">
                      
                      
                        <ion-icon name="reorder-three-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">마스크 착용지침</span>
                  </a> -->
                  <hr class="sidebar-divider d-none d-md-block">
                  
                  <div href="#" class="nav__link" style="grid-template-columns: 20px content 1fr; white-space:nowrap;">
                    <!-- <button type="button" class="btn" data-bs-toggle="collapse" data-bs-target="#demo">각종 링크들</button>
                      <div id="demo" class="collapse">
                        <a href="https://kosis.kr/covid/covid_index.do" class="collapse__sublink">코로나 통계청</a><br>
                        <a href="http://ncov.mohw.go.kr/" class="collapse__sublink">코로나 Hub</a><br>
                        <a href="http://www.mohw.go.kr/react/index.jsp" class="collapse__sublink">보건복지부</a><br>
                        <a href="https://www.0404.go.kr/dev/main.mofa" class="collapse__sublink">외교부 해외안전여행</a><br>
                        <a href="https://www.skyscanner.co.kr/" class="collapse__sublink">SkyScanner</a><br>
                        <a href="https://www.airbnb.co.kr/" class="collapse__sublink">AirBnB</a><br>

                      </div> -->
                      
                      <!-- <ion-icon name="logo-chrome" class="nav__icon"></ion-icon> -->
                      <ion-icon name="logo-chrome" class="nav__icon"></ion-icon>
                    <span class="collapse__link nav_name">&nbsp; 각종 링크들</span>
                    <!-- <ion-icon name="chevron-down-outline" class="collapse__link "></ion-icon> -->
                        
                    <ul class="collapse__menu">
                        <a href="https://kosis.kr/covid/covid_index.do" class="collapse__sublink"style="position:relative;left:7%">코로나 통계청</a><br>
                        <a href="http://ncov.mohw.go.kr/" class="collapse__sublink"style="position:relative;left:7%">코로나 Hub</a><br>
                        <a href="http://www.mohw.go.kr/react/index.jsp" class="collapse__sublink"style="position:relative;left:7%">보건복지부</a><br>
                        <a href="https://www.0404.go.kr/dev/main.mofa" class="collapse__sublink"style="position:relative;left:7%">외교부 해외안전여행</a><br>
                        <a href="https://www.skyscanner.co.kr/" class="collapse__sublink"style="position:relative;left:7%">SkyScanner</a><br>
                        <a href="https://www.airbnb.co.kr/" class="collapse__sublink"style="position:relative;left:7%">AirBnB</a><br>

                    </ul>
                </div>

                 
                  <!-- <a href="#" class="nav__link">
                  <span class="nav_name">
                    <button class="btn btn-outline-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      <span class="nav_name">마스크 착용지침</span>
                    </button>
                    </a> -->
                   
                  
                    

                  <!-- <a href="#" class="nav__link">
                      <ion-icon name="reorder-four-outline" class="nav__icon"></ion-icon>
                      <span class="nav_name">기타정보</span>
                  </a> -->
              

                  <hr class="sidebar-divider d-none d-md-block">
              </div>
              <a href="html/search_button.html" class="nav__link">
                  <ion-icon name="search-outline" class="nav__icon"></ion-icon>
                  <span class="nav_name">선별진료소 검색</span>
              </a>
              <img src="/img/khulogo.svg" style="width:170px;margin-left:25px" >
          </div>
      </nav>
  </div>


  <!-- IONICONS -->
  <!-- <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script> -->
  <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
</body>
<body>
  
    

  <div class="row">
    <div class="anchor" id="map"></div>
    <div class="col-xl-9 col-lg-12 status-now">
    
   
      <div class="card shadow mb-4"style="height:52.7rem">
        <div class="card-header">
          <h6 class="m-0 fw-bold" style="color:#3b3b3b;font-size: 1.2rem ;font-family: 'twayair';float: left;">시ㆍ도별 위험도 맵</h6>
          <p id = "text_explain"style="float:right;">
            * 원하는 지역을 클릭하면 세부 지역 별 확진자 정보와 여행정보를 제공합니다.
        </p>
        </div>
        <div class="card-body">
          <div class = "main">
            <div id = "distancing_section">
              <p id = "clock"><%= date %> 00 : 00 기준</p>
              <img src = "img/distancing_val_image.png" id = "distancing_img">
              <p id = "distancing_explain"> 
                <b style="font-size: 25px;">위험도 기준</b><br>
                <b style="padding-right: 10px;"> 1 : 확진자 수 50명 미만 </b><br>
                2 : 확진자 수 100명 미만 <br> 
                3 : 확진자 수 200명 미만 <br> 
                4 : 확진자 수 200명 이상 <br> 
              </p>
            </div>
              <div class = "coronamap">
                  <svg style='background:transparent;overflow:visible' height="100%" width="100%" xmlns="http://www.w3.org/2000/svg"
viewBox= "-125 30 900 900" >
<defs>
  <filter id="dropshadow">
      <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
      <feOffset dx="2" dy="2" result="offsetblur" />
      <feMerge>
          <feMergeNode />
          <feMergeNode in="SourceGraphic" />
      </feMerge>
  </filter>
</defs> 
<g filter="url(#dropshadow)"><path id= <%= distancingval1 %> class="OUTLINE CD"  d =" M 178 231 l -4 2 -4 3 -1 0 0 1 -3 1 -4 -5 -4 0 -6 1 -4 3 -2 -1 -1 -1 -3 2 -3 -3 -1 -3 -2 -3 0 0 -1 -2 -3 2 -3 1 -2 -4 0 -8 -3 -1 0 0 0 0 0 0 -2 -1 -3 -2 2 -4 3 -3 0 -1 0 0 0 0 0 -1 1 0 4 2 7 1 2 -2 0 1 2 0 1 -4 2 -8 7 -1 4 2 0 -3 1 -1 2 -4 3 -4 2 0 3 2 7 2 2 8 1 4 1 1 0 0 0 2 0 2 0 1 0 0 -1 6 3 0 8 -1 0 5 -4 3 -1 5 z " />
<path id=<%= distancingval2 %> class="OUTLINE CD" d =" M 496 722 l 0 4 -1 0 -2 -5 -1 6 -1 -2 0 0 -1 0 -1 1 -1 2 0 1 -1 -1 -1 -6 -1 -6 -2 3 -2 -3 0 2 0 0 0 0 0 0 0 0 -1 0 1 0 -4 1 -2 -5 -1 5 -1 2 0 0 -2 0 -7 -2 0 -2 2 -2 -1 -3 -5 -4 -2 -2 4 -1 9 0 0 -5 1 -6 5 -1 6 -2 7 -1 4 -6 1 -4 2 0 3 1 1 -3 6 -3 4 -1 1 -5 3 -6 7 0 3 -2 0 -3 0 0 2 -3 1 3 0 0 1 0 2 0 4 -1 4 4 1 3 0 1 -1 1 5 1 -7 4 -1 6 -1 4 -1 0 0 0 0 -1 -1 2 -1 1 2 2 -1 4 -2 4 -3 6 -3 4 0 1 0 0 -5 0 -4 0 -2 -1 -1 4 -1 4 1 -1 0 4 -7 0 -2 -4 -1 1 -3 4 z " />
<path id=<%= distancingval3 %> class="OUTLINE CD"  d =" M 441 530 l 3 1 3 7 0 4 2 9 1 7 -4 4 -2 -1 0 4 -1 2 -3 6 -2 7 0 8 -4 2 -4 2 -3 1 -3 -5 -6 0 -5 3 -1 6 -3 7 -2 3 -5 0 -7 3 -7 1 0 -8 -4 -4 -1 -3 5 -2 6 0 0 -5 -5 -4 -1 -5 3 -5 3 -2 8 -1 0 -5 -8 -4 -6 0 0 -5 2 -5 3 -4 3 -3 5 -1 2 7 3 3 1 0 2 -4 3 -7 0 -7 2 2 1 1 3 -2 6 -4 3 -3 5 -1 z " />
<path id=<%= distancingval4 %> class="OUTLINE CD"  d =" M 91 229 l 1 -2 0 1 0 0 1 0 1 0 0 -1 1 0 -1 -1 0 0 0 0 2 0 -4 -5 0 -5 1 -3 0 0 1 0 -1 0 0 -1 0 0 1 -1 0 -1 4 -1 4 -1 -5 -1 -3 -1 -1 -1 -2 1 1 -3 5 -3 3 -4 4 1 3 3 5 4 4 3 5 2 -2 4 -1 3 -1 5 -2 2 2 5 2 3 -1 7 -1 2 -2 3 -1 -3 -1 6 -7 2 -1 6 -6 1 -1 0 -3 -5 -2 -4 -1 -5 5 -2 -4 -2 0 -3 -2 2 z M 82 219 l 3 1 0 0 1 2 2 3 -2 2 -4 1 -8 5 -9 7 -4 -2 -3 -3 -1 0 -2 1 -2 -4 4 -5 4 -2 7 -1 7 -3 1 -4 z M 64 156 l 3 2 4 4 7 4 0 4 2 3 -1 2 -2 4 2 3 -1 4 0 3 2 0 0 2 -1 1 1 1 -1 1 1 2 1 2 1 1 -1 0 -5 4 -8 1 -8 0 -5 -4 0 -4 4 -3 0 -5 -2 -4 1 0 0 -1 -5 -3 -1 -8 0 -7 4 -4 0 0 1 0 z " />
<path id= <%= distancingval5 %> class="OUTLINE CD"  d =" M 113 687 l 2 3 6 3 7 -3 4 -2 2 0 1 0 0 0 0 0 1 0 0 0 1 -1 4 0 4 3 2 3 -1 1 1 1 3 4 6 3 1 4 -1 7 -4 4 -3 4 -7 1 -7 0 -6 2 -1 1 -1 0 -1 1 -4 1 -8 -1 0 -4 -4 -5 -4 -1 -7 0 -4 -7 -1 -1 3 -3 2 -6 2 -4 2 0 1 1 4 -4 1 -4 0 0 0 0 z " />
<path id=<%= distancingval6 %> class="OUTLINE CD"  d =" M 223 432 l 1 6 4 1 0 0 3 0 4 -4 1 0 0 2 -1 2 3 2 2 6 5 1 0 5 -2 6 -2 3 -2 7 -1 8 1 7 -5 3 -2 4 -7 -1 -3 -4 -2 -1 1 -2 -1 -2 1 -1 0 0 -3 -2 -2 6 -1 6 -3 4 -1 1 -1 -4 -3 -4 -1 1 -1 0 -2 -3 -1 -7 -5 -4 1 -2 1 -3 2 -8 1 -7 0 -6 9 -3 2 -3 2 -3 2 -5 z " />
<path id = <%= distancingval7 %> class="OUTLINE CD" d =" M 550 641 l 2 6 -1 7 -1 8 -3 3 0 0 -1 0 0 1 0 0 -2 1 -5 -1 1 -1 0 -1 -1 -3 -4 -4 -4 1 -2 0 -1 0 0 0 -1 -3 -1 -7 -4 -1 -6 -2 -4 -5 -2 -3 -4 -3 -5 -3 -1 -3 -3 1 -1 0 0 0 -2 0 -3 -2 -4 -4 5 -5 0 -8 3 -4 1 0 1 1 4 -3 3 0 -2 -3 0 -2 1 -1 0 -1 2 -4 4 -2 4 -1 9 -1 5 0 4 3 3 3 4 7 6 -1 3 -2 4 -2 7 2 1 0 7 3 2 8 0 7 -1 8 -2 4 2 -1 -2 5 -1 4 -1 -1 0 1 -2 1 -2 -6 -3 -6 -3 -1 2 2 -2 1 2 1 1 3 -3 1 2 0 0 0 1 1 0 4 z " />
<path id=<%= distancingval8 %> class="OUTLINE CD" d =" M 184 410 l -2 -2 0 -5 1 -9 -1 -4 -1 1 0 0 -1 0 -1 -4 3 -4 3 0 5 2 5 3 6 3 2 0 0 0 0 0 0 0 2 1 2 2 -2 4 -1 4 2 4 0 3 0 3 2 1 3 3 6 2 3 4 3 2 0 8 -6 2 -2 5 -2 3 -2 3 -9 3 -6 -1 -6 -4 -1 -3 -3 -9 0 -7 2 -7 1 -4 0 0 0 0 -1 1 z " />
<path id=<%= distancingval9 %> class="OUTLINE CD" d =" M 81 192 l 1 -2 -1 -1 -1 -7 -1 -3 1 -3 1 -4 -2 -3 0 -5 4 2 4 2 4 1 3 -1 4 -2 4 0 3 5 -1 -4 -1 -12 -1 -1 0 -1 0 0 0 0 0 0 0 0 3 -2 -1 -5 0 0 1 -3 0 -5 -1 1 -1 -4 3 -6 7 -2 7 -2 3 -2 5 -2 1 -4 1 -1 1 -1 3 -3 1 -6 1 -7 4 -4 3 -2 3 2 1 0 3 -5 1 -3 0 0 1 -2 2 -3 3 -7 8 2 3 -5 1 0 1 0 3 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 3 1 3 -1 1 0 1 3 4 9 1 5 6 1 4 -2 3 -3 4 0 -1 1 -1 5 0 6 4 2 3 3 2 -1 5 -3 5 0 6 2 1 5 1 8 2 6 6 2 6 1 2 5 6 3 4 3 1 3 -1 1 1 2 0 1 -1 4 -4 3 -5 4 -4 6 0 5 -1 2 1 2 1 6 -3 3 -1 4 7 1 -1 7 0 8 8 0 5 1 4 3 5 3 3 4 4 0 4 0 1 -1 3 2 7 3 4 3 1 2 -5 2 -4 2 1 1 -1 0 -3 4 2 5 2 3 0 6 -1 3 -1 5 -4 7 0 8 -1 7 0 6 -1 4 -1 6 -4 6 -2 5 -4 3 -8 0 0 7 -3 4 -1 1 -1 -1 -1 1 0 -1 0 3 -5 3 0 2 0 0 -2 1 -4 -2 -2 0 -3 1 -2 -1 -3 0 -2 5 -3 4 -5 3 -4 3 1 1 1 1 -5 4 -4 2 -4 2 -4 1 1 3 0 1 0 0 0 0 -2 3 -4 -4 -6 -3 -3 -3 -5 -3 -5 -2 -8 2 -1 3 -1 0 -2 0 -4 1 -7 1 -8 2 -6 2 -3 4 0 -4 -8 1 -8 -1 0 -7 3 -8 -9 -1 2 -7 -6 -3 -1 -5 -10 -11 0 -5 0 -4 -2 1 -1 -1 -1 1 -1 0 0 0 0 0 0 0 1 -4 2 -3 -3 0 -1 -4 -3 -5 -2 0 -2 1 -2 -1 2 3 -7 1 0 -7 0 -7 3 -2 -1 -1 1 0 6 -4 2 0 -3 1 -4 4 -2 3 2 1 4 3 3 3 -1 1 2 1 3 3 0 1 0 4 2 -1 3 -1 -2 -2 0 0 0 -1 1 -1 -1 -2 0 0 0 0 -1 -2 5 -3 6 1 5 0 0 0 1 2 -1 1 1 1 0 1 1 -4 1 0 -1 6 3 -6 1 -4 2 -1 -1 -1 3 0 4 3 1 1 1 -2 1 0 0 0 2 1 -1 -2 -7 -3 -7 -2 -4 -1 0 0 -1 0 -2 -2 -8 -5 -1 -4 9 -7 7 -2 -5 -2 0 -1 1 -1 0 -1 1 -2 1 -7 -2 -3 -2 -5 2 -2 1 -5 1 -3 3 2 2 1 0 0 0 0 0 0 3 1 0 8 2 4 3 -1 3 -2 1 2 0 0 2 3 1 3 3 3 3 -2 1 1 2 1 4 -3 6 -1 4 0 4 5 3 -1 0 -1 1 0 4 -3 4 -2 3 -8 1 -5 4 -3 0 -5 -8 1 -3 0 1 -6 0 0 0 -1 0 -2 0 -2 0 0 -1 -1 -1 -4 -2 -8 -7 -2 -3 -2 -2 0 -3 4 -2 4 -1 1 0 3 -4 -2 -7 1 -2 8 -1 4 -2 0 0 -1 -2 2 -7 -1 -4 -2 -1 0 0 1 0 0 0 0 0 1 -3 3 -5 -2 -4 -3 -5 -4 -3 -3 -4 -1 -3 4 -5 3 -7 -1 -2 -5 z M 120 292 l -5 1 -3 4 -5 4 -2 2 9 10 5 0 -1 -7 -1 -2 0 -1 3 -2 5 -4 -3 -2 1 -1 1 -1 -1 -2 1 -4 z " />
<path id=<%= distancingval10 %> class="OUTLINE CD" d =" M 409 61 l 2 3 0 0 0 3 3 4 3 5 -2 4 2 -1 2 4 1 6 2 4 2 4 4 5 1 0 -1 0 2 3 4 6 5 5 1 3 4 5 0 0 1 0 0 3 4 6 4 4 3 5 2 4 3 3 3 5 0 -1 0 0 0 0 0 1 3 4 4 4 5 5 3 4 3 2 4 5 3 4 4 6 0 5 2 5 -1 0 1 0 4 4 4 3 0 0 0 0 0 0 0 0 0 1 0 -1 1 4 0 4 0 -1 1 4 2 7 4 4 4 4 2 4 1 1 -1 -1 0 0 0 2 2 4 4 3 4 3 2 7 1 4 0 -1 1 2 3 3 2 3 1 0 1 1 2 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 2 5 0 6 1 8 2 5 -1 0 0 0 0 0 0 0 -1 -1 -1 1 -1 -1 -1 1 -5 4 -5 2 -3 4 -3 4 0 3 0 3 0 1 1 0 -5 0 -6 -3 -5 -4 -3 -2 -7 -1 -3 5 -3 0 -4 -2 0 1 -1 -1 -5 0 -4 0 0 0 -3 -2 -4 1 -4 6 -7 1 -6 -5 -4 -2 -2 0 -3 4 -1 7 -6 -1 -4 -1 -5 -3 -5 -3 -2 -2 -2 1 -1 0 0 -1 -1 0 0 0 -2 1 -3 -1 -6 -2 -4 -4 -2 -2 -2 2 -5 1 -5 0 -4 -7 -2 -3 -1 1 0 0 -2 -1 -1 1 -2 -1 -1 1 -1 -1 0 1 -1 0 1 0 -4 2 -6 -1 -1 -3 5 -4 4 -5 -10 -2 -3 -2 0 0 -2 0 -3 -2 -5 -1 -3 5 -3 -1 -2 -1 -1 0 -1 -1 -2 4 -2 2 -4 2 -1 0 -1 0 -3 1 -2 -5 -2 -4 0 -1 0 0 -4 -3 -7 1 -5 4 0 1 1 5 0 4 -2 3 -4 2 -1 -1 -3 0 -2 1 -1 -1 -1 1 -4 1 -7 0 -4 -5 -2 -7 1 -6 1 -4 0 -6 1 -7 0 -8 4 -7 1 -5 1 -3 0 -6 -2 -3 -2 -5 3 -4 1 0 -1 -1 4 -2 5 -2 -1 -2 -4 -3 -7 -3 -3 -2 -1 1 -4 0 -4 0 -3 -4 -5 -3 -4 -3 -5 -1 -8 0 0 -8 1 -7 -7 -1 1 -4 3 -3 -1 -5 -1 -3 1 -2 0 -5 4 -6 5 -4 4 -3 1 -4 0 -1 -1 -2 1 -1 -1 -3 -4 -3 -6 -3 -2 -5 -6 -1 -6 -2 -2 -6 -1 -8 -1 -5 -6 -2 -5 0 -5 3 -2 1 -3 -3 -4 -2 0 -6 1 -5 1 -1 -4 0 -3 3 -4 2 -6 -1 -1 -5 -4 -9 -1 -3 -1 0 -3 1 -3 -1 0 -3 0 -3 -1 0 -1 -3 3 -1 -1 -1 2 -2 2 -2 0 0 0 0 1 4 6 -2 2 -2 -1 0 0 0 0 0 2 -1 4 -2 7 1 4 4 1 0 0 -1 0 0 -1 -1 0 0 1 0 0 0 0 0 0 -1 0 1 1 0 0 1 8 1 3 -6 6 0 8 3 3 1 4 2 4 -2 4 -2 6 -3 5 1 0 0 0 0 0 0 0 0 0 0 1 1 7 1 0 2 0 0 2 -2 1 2 6 0 3 0 3 -2 5 4 5 3 7 0 5 -5 0 0 4 1 8 3 2 3 1 1 1 -1 2 1 2 -3 5 0 6 -2 3 -5 6 -1 7 -1 2 -6 5 -3 6 -1 1 -5 2 -6 5 0 0 -5 0 1 0 -2 -3 0 3 -1 4 -8 1 -8 -1 -6 4 -2 6 3 1 4 2 8 3 5 2 4 2 6 2 6 3 4 3 5 3 7 1 3 z " />
<path id=<%= distancingval11 %> class="OUTLINE CD" d =" M 321 275 l 4 3 0 0 0 1 2 4 2 5 3 -1 1 0 1 0 4 -2 2 -2 2 -4 1 1 1 0 2 1 3 1 3 -5 5 1 3 2 2 0 0 0 3 2 10 2 -4 5 -5 4 1 3 6 1 4 -2 -1 0 1 0 0 -1 1 1 1 -1 2 1 1 -1 1 1 1 0 1 -1 2 3 4 7 5 0 5 -1 2 -2 2 2 4 4 6 2 3 1 2 -1 0 0 1 0 0 1 1 0 2 -1 2 2 5 3 -4 1 -2 2 -3 -1 0 1 -5 3 -3 5 -4 3 -4 4 -4 2 -4 4 -2 5 -3 7 2 8 -2 6 -5 1 -7 1 -7 -3 -4 -3 -4 -4 -4 -2 0 0 -3 4 -2 6 -6 0 -5 -2 -1 -1 -3 2 -4 4 -1 2 -3 -3 -3 1 -1 5 -1 8 3 4 1 2 -5 0 -3 -3 -1 0 -4 2 -3 -2 -2 -1 -3 6 -6 2 -3 1 -1 1 0 0 0 1 4 1 4 3 1 5 -1 4 -1 2 1 1 -2 -1 -4 -5 -2 -4 0 -1 -4 4 0 4 0 0 -1 1 -6 2 1 5 7 3 2 5 4 3 0 5 -3 3 0 2 0 1 0 0 0 0 0 0 0 1 0 0 0 1 -1 4 0 2 2 2 -2 3 -1 3 3 3 -1 2 1 0 0 3 -3 4 -3 5 1 6 6 0 2 -3 2 3 4 3 2 2 1 0 1 1 2 0 3 -3 6 1 2 5 2 6 1 2 -4 -1 -7 0 0 8 -1 6 -3 4 0 1 0 2 -1 3 -3 6 -5 2 -4 3 -4 2 -9 -1 -8 2 -6 -2 -5 -2 -2 -3 -3 3 -2 -1 -5 -3 -1 -7 -4 -9 0 -6 0 -7 -2 -6 -6 -2 -8 0 -1 -7 1 -8 2 -7 2 -3 2 -6 0 -5 -5 -1 -2 -6 -3 -2 1 -2 0 -2 -1 0 -4 4 -3 0 0 0 -4 -1 -1 -6 0 -8 -3 -2 -3 -4 -6 -2 -3 -3 -2 -1 0 -3 0 -3 -2 -4 1 -4 2 -4 -2 -2 -1 -2 3 -4 5 -5 5 -4 7 1 -1 -5 -1 -5 -5 -4 -5 -2 -2 -5 -3 -5 -3 -3 2 -3 0 0 0 0 0 -1 -1 -3 4 -1 4 -2 4 -2 5 -4 -1 -1 -1 -1 4 -3 5 -3 3 -4 2 -5 3 0 2 1 3 -1 2 0 4 2 2 -1 0 0 0 -2 5 -3 0 -3 0 1 1 -1 1 1 1 -1 3 -4 0 -7 8 0 4 -3 2 -5 4 -6 2 7 4 5 7 0 4 -1 1 -1 1 1 2 -1 3 0 1 1 4 -2 2 -3 0 -4 -1 -5 0 -1 5 -4 z " />
<path id=<%= distancingval12 %> class="OUTLINE CD"  d =" M 53 418 l 1 8 2 5 2 2 0 4 -1 2 3 2 1 2 0 0 -1 5 -6 -1 -5 -2 0 -3 1 0 -3 -2 -1 -6 -2 2 1 -5 1 -3 -1 0 0 0 -1 0 0 -3 0 -8 -2 -3 0 0 0 0 0 -2 3 -3 6 1 0 3 -1 0 0 1 0 0 z M 30 354 l 1 1 2 -3 4 -3 2 -6 0 -8 2 -4 1 1 0 0 0 0 0 0 -1 2 1 1 0 0 1 0 -2 3 0 4 2 4 1 3 -2 2 1 0 -1 2 -2 4 3 3 -1 0 1 0 -1 1 -3 3 6 -1 2 -5 4 3 0 0 0 -1 -1 -3 1 -1 3 -5 6 -3 0 -5 0 -4 0 0 -1 0 -1 1 -2 0 -2 -1 0 0 -2 -2 -4 -3 5 -1 2 -1 -1 0 -1 -2 -6 -2 3 -3 0 -1 3 1 2 -1 6 0 2 1 3 1 2 -4 8 -7 3 3 5 2 3 1 0 1 0 0 6 3 3 2 10 1 6 2 7 -1 2 5 2 7 2 4 1 3 11 3 4 -2 3 -4 6 -2 8 -2 7 -1 4 -1 2 0 1 0 1 -3 8 -2 5 2 5 3 3 3 6 3 4 4 3 3 3 5 2 5 5 2 5 4 1 5 1 5 -7 -1 -5 4 -5 5 -3 4 -1 1 0 0 0 0 0 0 0 0 -2 0 -6 -3 -5 -3 -5 -2 -3 0 -3 4 1 4 1 0 0 0 1 -1 1 4 -1 9 0 5 4 3 2 3 1 -1 0 0 0 0 -1 4 -2 7 0 7 3 9 1 3 6 4 6 1 0 6 -1 7 -2 8 -1 3 -1 2 5 4 1 7 2 3 1 0 1 -1 3 4 1 4 1 -1 3 -4 1 -6 2 -6 3 2 0 0 -1 1 1 2 -1 2 2 1 3 4 7 1 2 -4 5 -3 8 0 6 2 2 6 0 7 0 6 4 9 1 7 -1 4 1 0 0 2 -2 1 1 3 -1 2 -1 0 -3 -4 -8 -2 -2 8 -5 2 -7 -1 -3 -5 -1 -3 0 0 -4 2 -5 -3 -3 -6 -1 -7 -1 -5 -3 -2 -6 2 -5 1 -1 0 -1 0 -3 3 -7 1 -8 2 -2 2 -6 0 -3 -1 -3 -3 -3 -8 -4 -2 -3 -2 -1 1 -2 0 -4 -2 -4 1 -2 2 -7 3 -2 7 0 5 -6 3 -7 4 -8 4 -2 2 -1 0 0 1 -7 -2 -4 1 1 -3 -3 -6 -3 -4 -1 -3 3 -2 -4 -2 -2 -2 0 0 -1 -2 -6 -3 -4 -2 -3 -1 -4 1 0 0 1 2 -2 -1 0 -3 1 -1 0 0 3 -1 3 -9 0 -7 1 -3 0 0 0 -1 1 -1 -1 -3 -5 -6 2 -5 6 -3 5 0 -4 -1 -4 -2 -4 -3 -5 -3 1 -5 1 -2 0 0 2 -1 2 -2 -3 1 -1 0 0 -1 0 0 0 0 1 -1 -2 -3 -1 -6 -1 -9 -2 -6 -1 -6 -7 -4 0 -1 -7 -2 -5 1 -3 3 -4 2 -1 -6 -2 -9 -3 -3 0 -1 0 0 0 0 0 0 0 -2 1 -3 1 -4 -1 0 0 -1 -1 2 -4 3 -5 4 -3 2 -5 0 1 -6 7 0 -1 -6 -4 -4 -2 0 -1 0 -1 0 -1 4 -2 4 -2 1 1 -3 1 -3 0 0 0 0 -1 -2 -1 -4 2 -1 0 -1 0 0 -1 0 1 -1 0 0 1 0 1 -4 2 -7 2 4 2 4 2 3 -1 -5 -1 -4 -1 -1 2 -3 0 -7 3 -4 0 1 0 -1 0 1 2 -1 4 -1 -2 3 -2 2 z " />
<path id=<%= distancingval13 %> class="OUTLINE CD" d =" M 134 519 l 0 -5 2 -7 7 -3 2 -2 4 -1 4 2 2 0 1 -1 3 2 4 2 3 8 3 3 3 1 6 0 2 -2 8 -2 7 -1 3 -3 1 0 1 0 5 -1 6 -2 3 2 1 5 1 7 3 6 5 3 4 -2 0 0 1 3 3 5 7 1 5 -2 2 -8 8 2 3 4 1 0 1 -2 -1 -3 2 -1 0 -2 -1 0 1 -4 5 3 2 1 3 -3 2 3 5 2 6 2 8 -2 9 1 2 4 0 1 0 0 2 4 3 7 -4 7 -3 2 -3 5 -4 3 -3 2 -6 2 -5 2 -3 6 -3 4 -5 3 -2 8 0 5 -3 3 -2 7 -1 8 -2 4 -1 3 -2 8 6 6 2 8 0 5 4 3 -1 5 -3 3 -3 5 -2 3 0 1 0 0 0 0 1 4 -2 3 -4 4 -3 -3 -4 -2 -5 -4 -4 -2 -6 -1 -4 1 -2 4 -4 5 -4 1 -3 -2 -1 0 -3 2 -8 0 -4 -1 -5 -3 -2 2 -2 1 -4 -3 -3 1 -4 3 -5 2 -8 -3 -1 -4 0 -8 -4 -3 0 -2 3 -3 -1 -4 -1 -3 -1 -4 -3 1 -2 -1 -1 4 -1 2 -2 2 -1 0 -1 5 -7 -1 -4 -3 -2 -5 -5 -3 -1 -1 -2 1 -1 -4 -6 2 -5 1 -4 4 0 7 -3 3 0 1 0 2 -3 3 -3 3 -5 3 -4 1 1 2 -4 0 -6 0 -1 1 1 0 -2 2 -7 -1 -2 -5 -1 -4 -2 0 -1 1 -1 -4 -1 -8 -2 -3 -6 -2 4 -9 1 -3 4 -5 4 -3 1 0 0 0 0 0 0 0 2 -1 0 1 1 -1 0 1 1 0 0 1 1 -2 0 1 1 0 -1 0 0 -1 4 -1 3 2 1 1 0 -1 0 -1 2 -4 2 -3 0 0 0 0 0 0 2 0 2 0 4 4 2 5 -1 -5 -2 -5 -8 -2 -9 0 -6 0 -3 1 0 0 -3 -3 -4 -3 -1 -1 1 -2 -1 0 1 -1 -1 -2 1 0 3 -2 6 -5 1 -1 1 0 1 -2 3 -2 -1 -3 -4 -4 -3 -6 -4 -11 -2 0 -3 -1 0 -2 5 -2 6 -11 3 -8 -1 -2 -1 -7 5 1 0 -1 3 0 9 0 7 -2 7 -2 4 2 3 -2 0 -4 8 -4 7 -4 z M 70 573 l 1 6 2 3 3 6 6 7 2 0 3 -3 3 -5 2 -8 1 -4 4 0 7 -1 -1 -8 -1 -4 -3 -5 -7 -1 -2 -6 -1 -6 -5 0 -6 1 -4 12 -2 4 -1 5 z " />
<path id=<%= distancingval14 %> class="OUTLINE CD" d =" M 118 837 l 1 -4 -1 -7 -2 -4 1 0 0 -1 -1 -3 1 -3 0 -1 0 0 -1 3 -2 8 0 9 -2 8 -3 2 0 0 2 3 -3 4 -3 2 -7 4 -4 0 0 0 0 1 -4 4 -2 6 -2 5 -2 4 -7 2 -3 3 -3 0 0 -1 0 0 0 0 0 0 0 -2 1 -2 0 -1 1 -1 -1 -1 0 -1 0 0 -3 -3 -4 1 0 1 -1 -1 1 -1 0 -1 0 0 -1 -2 1 0 -1 -1 0 0 1 -1 -1 0 3 -3 1 -7 -6 -2 0 -2 2 1 -1 -4 0 -4 0 0 0 0 0 0 -1 -4 -1 -4 0 1 0 -1 -2 1 0 -3 -2 -2 1 -1 -2 -1 -2 -1 -2 3 -3 0 -3 -4 -9 -3 -2 -3 -1 -1 -1 1 -1 -4 -2 -6 -3 -5 0 -1 1 -1 -1 -1 1 -2 2 -5 3 -8 5 1 3 5 2 3 2 2 3 -3 2 -3 0 -1 -2 -4 3 -4 6 -1 3 -1 -6 -1 -7 0 1 -7 5 -4 0 -5 -2 -4 -1 1 2 -5 -1 -6 0 -6 -2 -4 -1 -3 -1 5 0 8 -4 3 -2 0 -3 -3 -2 -5 -1 -2 3 -2 6 -1 0 -3 -2 0 4 -3 4 -3 1 -2 -5 -3 -4 -2 -1 -1 1 0 0 0 1 -2 -4 -1 -2 5 -2 1 0 -1 -1 -1 -1 -1 -2 3 -2 6 -2 0 -1 -2 -1 2 -2 -7 -3 -1 0 1 0 0 0 1 -1 -1 -1 -2 0 0 -1 0 0 0 -2 -1 -3 -1 1 -1 0 0 0 -1 -1 -2 0 -2 5 -1 6 1 4 1 0 0 0 0 2 0 0 -1 -2 -3 1 -3 0 -1 1 1 3 -2 4 1 2 1 3 -3 3 -1 -1 5 -1 4 0 3 2 0 1 -1 0 3 3 4 1 -1 1 -2 0 -1 2 2 1 6 0 4 2 -1 1 1 1 -1 0 0 0 -2 2 -3 2 -6 0 -4 -5 -3 -3 -4 -1 0 -1 -2 -3 -4 -1 -5 2 -4 -4 2 -3 1 1 -2 0 -2 -1 0 1 1 0 1 -2 0 -3 -4 1 -5 1 2 2 -1 0 -1 0 -1 1 0 -2 0 2 -4 -1 0 0 -2 4 -1 4 -2 -1 -3 1 -1 0 -1 0 -1 0 0 0 0 0 0 0 0 1 -2 3 -6 4 1 2 3 0 -3 -4 -4 -1 -4 2 -6 3 -1 6 2 2 3 1 8 1 4 1 -1 2 0 1 4 2 5 7 1 2 -2 -1 0 1 -1 6 0 4 0 -1 -2 4 -1 5 -3 3 -3 3 -3 0 -2 0 -1 3 -3 0 -7 4 -4 5 -1 6 -2 1 4 2 -1 1 1 5 3 2 5 4 3 7 1 1 -5 1 0 2 -2 1 -2 1 -4 2 1 3 -1 1 4 1 3 1 4 -3 3 0 2 4 3 0 8 1 4 8 3 5 -2 4 -3 3 -1 4 3 2 -1 2 -2 5 3 4 1 8 0 3 -2 1 0 3 2 4 -1 4 -5 2 -4 4 -1 6 1 4 2 5 4 4 2 3 3 3 8 2 3 1 4 0 8 4 6 5 3 4 6 0 4 4 4 3 4 4 3 3 5 1 2 0 3 -3 6 -5 3 -1 -2 -3 5 -3 3 0 2 -3 -2 -2 3 -1 1 -4 0 -5 -3 -1 -5 -3 8 5 3 0 1 -2 5 1 3 1 0 0 0 0 0 0 -1 0 0 3 3 9 0 3 -2 0 -1 -1 -1 5 0 3 2 0 0 3 -2 2 7 -2 6 -2 9 1 2 -1 1 -5 2 -3 1 0 0 -3 -3 -4 -2 -1 1 -2 3 0 4 -3 -1 0 5 2 9 0 3 -3 -2 -5 -1 -1 3 -2 -2 -2 -4 0 -2 0 0 0 -3 3 -3 -2 -1 -1 -1 -1 1 1 -4 3 -2 1 -6 -3 -3 -1 0 1 0 0 -1 0 1 0 0 1 -1 0 1 0 -2 -4 -4 -4 -1 0 0 2 -5 -2 -2 0 0 0 -1 0 0 0 -1 -1 -3 0 -4 1 0 -1 0 -4 3 -1 6 -6 1 -1 -3 -1 1 0 -1 -1 1 -4 4 -7 -1 -4 -1 4 2 4 3 0 0 1 0 1 0 1 0 1 1 1 -1 -3 3 -3 3 1 1 -1 0 0 1 1 3 -2 2 0 6 2 3 1 0 0 0 3 3 4 4 1 1 0 0 3 2 2 1 0 1 2 1 -3 0 1 2 1 0 0 0 1 1 1 -1 1 4 -1 7 -6 0 -7 1 -2 3 1 2 4 1 0 0 0 0 -1 1 1 1 -1 1 -2 4 -4 2 0 -1 -2 1 1 3 0 0 -2 1 -3 -1 -1 1 -1 1 0 0 -3 2 -1 5 -3 -1 0 0 0 0 0 -1 0 0 1 1 -1 -2 -3 -3 -2 -3 1 0 -1 -3 -6 -3 -3 -3 -1 1 -1 1 0 -1 -1 1 -3 -1 -3 0 0 1 1 0 -2 0 -2 -1 -1 1 -2 -1 0 1 -1 -1 0 0 0 0 -2 -3 0 -4 0 0 1 -1 1 -1 0 0 2 -2 1 -4 2 2 2 -4 1 -2 -1 -1 1 -1 3 -3 6 -3 2 -6 2 -4 3 -1 2 5 0 4 0 0 1 1 4 0 2 -5 2 -7 -3 -6 -3 1 -3 2 -4 0 -3 -4 -4 3 -2 4 -3 5 -6 1 -4 -2 0 0 0 0 0 -1 -3 4 -3 4 -2 0 1 1 -4 2 -3 4 -1 0 -1 0 -2 2 -8 0 -4 -1 4 2 4 3 -1 1 1 0 0 0 -2 4 3 3 -1 2 0 -1 -1 0 -3 4 -1 7 0 6 -5 2 -2 4 -2 -1 -6 0 -1 4 -4 -2 -3 -2 -1 1 -2 0 -1 -1 -1 1 -2 -4 0 -4 -1 0 z M 61 823 l 3 -2 2 -2 -4 -2 -2 -3 -2 1 0 -2 -1 0 0 0 -1 -3 -2 -3 0 0 -1 0 -1 2 -3 0 -1 -4 1 2 1 0 1 -3 -1 -3 2 0 -1 -2 -2 -1 -4 4 -3 0 1 4 2 5 3 6 5 3 4 2 z M 49 798 l 1 0 2 0 3 4 3 -2 2 -1 0 4 -3 4 0 0 4 3 4 2 0 0 0 0 0 0 4 1 3 1 0 0 0 1 0 0 0 0 1 0 0 -2 -4 -4 -3 -4 4 3 7 2 5 3 5 1 2 1 1 -1 -8 -2 -4 -4 1 -2 1 -2 -1 0 1 0 -3 1 -6 -2 2 -1 -3 -1 -2 -3 -4 -2 2 -3 -1 -1 0 0 0 0 0 0 0 0 -1 0 -2 1 -2 -2 -1 1 -2 0 0 0 0 0 0 0 0 -1 0 0 0 0 -2 0 -4 2 -1 2 0 1 0 0 0 0 z M 122 727 l 4 -1 1 -1 1 0 1 -1 6 -2 7 0 7 -1 3 -4 4 -4 1 -7 -1 -4 -6 -3 -3 -4 -1 -1 1 -1 -2 -3 -4 -3 -4 0 -1 1 0 0 -1 0 0 0 0 0 -1 0 -2 0 -4 2 -7 3 -6 -3 -2 -3 -4 1 0 0 0 0 -1 4 -4 4 -2 -1 -1 0 -2 4 -2 6 -3 3 1 1 4 7 7 0 4 1 4 5 0 4 z M 95 876 l -1 0 -1 -7 0 -5 6 -2 6 2 3 6 1 4 0 0 0 0 2 4 2 6 -4 -1 1 0 -3 0 -7 -1 z M 191 843 l 1 0 0 1 0 0 1 3 -2 6 -2 3 -10 1 -7 -4 0 -6 3 -3 0 0 0 0 0 1 4 2 5 -3 0 0 0 0 1 0 0 0 1 0 2 0 1 0 1 0 z M 27 823 l 5 2 4 3 -1 1 0 0 0 0 0 0 4 2 3 2 0 0 2 2 3 6 1 4 -1 -1 -2 3 0 6 -4 5 -2 2 -1 -2 -2 2 -1 -1 0 0 0 1 0 1 -3 1 -5 2 1 1 -3 1 -3 1 -5 1 -7 1 -5 0 1 -1 -1 0 1 -1 1 -2 -5 -2 -2 -8 3 -4 1 1 1 0 0 0 -1 -3 5 -4 4 -1 0 -1 4 -3 4 -3 0 -1 -1 0 2 -3 z M 281 794 l 2 1 5 3 0 2 -1 0 -1 -1 -1 1 0 -1 0 3 2 5 1 0 1 0 0 4 0 7 1 5 -6 0 -3 -1 -1 0 0 -1 0 0 0 0 -3 -3 0 -7 4 -3 1 -5 -1 -6 -1 -1 0 0 0 0 0 0 0 0 0 -1 z " />
<path id=<%= distancingval15 %> class="OUTLINE CD"  d =" M 560 528 l 7 2 5 -4 3 -4 3 -4 1 -1 0 0 3 -4 3 2 2 6 -1 8 -2 3 -1 0 0 0 -1 4 0 4 0 0 -1 0 0 -1 0 1 0 0 -2 2 -2 3 0 2 1 0 0 0 1 4 0 4 -1 -1 -1 1 0 0 1 4 -1 3 0 0 0 0 0 0 0 1 -1 3 0 3 0 0 0 1 -1 -1 -1 4 -1 8 -2 7 -1 6 -2 4 -2 4 -7 -3 -1 0 -7 -2 -4 2 -3 2 -6 1 -4 -7 -3 -3 -4 -3 -5 0 -9 1 -4 1 -4 2 -2 4 0 1 -1 1 0 2 2 3 -3 0 -4 3 -1 -1 -1 0 -3 4 -7 0 -5 -4 -3 0 -3 1 -4 3 -4 5 -5 1 -6 3 -8 0 -7 -2 -8 -1 -7 2 -6 -3 -3 -3 -3 -3 -1 -7 0 -5 1 -6 5 -3 6 0 3 5 3 -1 4 -2 4 -2 0 -8 2 -7 3 -6 1 -2 0 -4 2 1 4 -4 -1 -7 -2 -9 0 -4 -3 -7 -3 -1 -9 0 -5 1 -3 3 -7 4 -2 2 -1 -1 -2 -2 0 7 -3 7 -2 4 -1 0 -3 -3 -2 -7 -5 1 -3 3 -3 4 -2 5 0 5 6 0 8 4 0 5 -8 1 -3 2 -3 5 1 5 5 4 0 5 -6 0 -5 2 1 3 4 4 0 8 -5 -3 -3 -3 -7 -1 -8 1 -3 2 -2 0 -3 -2 -5 -3 2 -3 0 0 1 0 2 -4 -1 -7 -2 -4 -3 -3 -5 -4 -2 -4 -1 -4 -1 0 -1 0 -5 -2 -8 0 -7 -2 -5 -3 -1 0 -3 1 -1 -4 -4 -3 -4 -5 4 -7 -3 -7 -2 -4 0 0 0 -1 -2 -4 4 -2 4 -3 5 -2 3 -6 1 -3 0 -2 0 -1 3 -4 1 -6 0 -8 7 0 4 1 -1 -2 -2 -6 -2 -5 -6 -1 -3 3 -2 0 -1 -1 -1 0 -2 -2 -4 -3 -2 -3 -2 3 -6 0 -1 -6 3 -5 3 -4 0 -3 -1 0 1 -2 -3 -3 1 -3 2 -3 -2 -2 0 -2 1 -4 0 -1 0 0 0 -1 0 0 0 0 0 0 0 -1 0 -2 3 -3 0 -5 -4 -3 -2 -5 -7 -3 -1 -5 6 -2 1 -1 0 0 0 -4 4 -4 0 1 2 4 4 5 2 1 -1 -1 1 -2 1 -4 -1 -5 -4 -3 -4 -1 0 -1 0 0 1 -1 3 -1 6 -2 3 -6 2 1 3 2 4 -2 1 0 3 3 5 0 -1 -2 -3 -4 1 -8 1 -5 3 -1 3 3 1 -2 4 -4 3 -2 1 1 5 2 6 0 2 -6 3 -4 0 0 4 2 4 4 4 3 7 3 7 -1 5 -1 2 -6 -2 -8 3 -7 2 -5 4 -4 4 -2 4 -4 4 -3 3 -5 5 -3 0 -1 3 1 2 -2 4 -1 5 3 4 1 6 1 1 -7 3 -4 2 0 4 2 6 5 7 -1 4 -6 4 -1 3 2 4 0 5 0 1 1 1 -1 3 2 3 0 3 -5 7 1 3 2 5 4 6 3 5 0 -1 0 0 -1 0 -3 0 -3 3 -4 3 -4 5 -2 5 -4 1 -1 1 1 1 -1 1 1 0 0 0 0 0 0 1 0 0 -1 1 2 1 4 2 5 6 7 -1 3 0 1 0 1 -1 2 1 3 0 4 0 1 0 1 -1 1 1 1 0 0 0 1 1 5 0 6 1 5 -1 -1 0 4 4 7 2 3 -1 0 1 1 1 4 3 7 0 9 0 6 -2 5 -1 -2 -1 1 -3 5 -2 6 0 7 4 8 1 5 0 2 0 0 1 2 -1 2 0 1 0 0 0 0 0 0 -1 3 0 7 -2 8 -3 6 -2 3 -1 6 -1 7 0 7 1 8 -1 4 0 -1 1 4 2 3 1 5 1 5 6 3 0 0 0 3 -4 4 -4 3 -1 0 -2 4 6 2 z M 797 205 l 2 1 1 0 -1 3 0 6 1 2 -3 2 -3 3 -6 0 -4 -2 -3 -5 1 -5 6 -2 4 -2 0 0 2 0 z " />
<path id=<%= distancingval16 %> class="OUTLINE CD"  d =" M 307 751 l 4 2 0 5 -1 4 0 0 -1 0 -1 4 1 4 1 0 -1 1 3 3 3 4 3 0 -1 -1 0 0 4 -2 7 -1 4 1 0 0 1 1 0 5 0 7 -1 4 -1 4 1 2 0 0 0 0 0 0 1 0 -1 1 0 0 0 0 -1 1 -2 -1 -1 1 -2 -3 -4 1 -6 -3 -2 -8 -6 2 -2 6 -6 -1 -2 -6 1 -4 -1 1 -1 -4 -2 -3 -2 -4 0 -7 2 -3 0 -1 0 0 0 -2 0 0 0 -1 0 -1 3 -1 2 -5 z M 441 731 l 3 1 1 2 -2 3 0 1 0 0 0 1 -1 0 0 4 3 3 1 5 0 4 0 0 -1 2 -2 3 -1 3 2 0 -1 1 2 -1 3 -2 3 -1 -1 1 -2 5 -1 4 -2 -1 -1 1 -1 1 3 2 0 7 -2 -3 -1 0 0 0 0 0 -1 1 -3 -1 -2 3 -3 4 -1 3 4 4 3 0 -1 1 -1 1 0 -1 -1 0 -1 0 -1 0 -4 2 -6 1 -1 -3 0 0 -1 0 -1 0 2 -5 -1 -3 -2 1 -2 0 -1 -3 5 -3 0 -6 0 -4 0 1 -1 -2 -2 1 0 1 0 0 -3 2 -4 2 -1 3 0 0 -1 0 -2 -4 -3 -3 -1 -4 0 -4 1 -1 0 0 3 -3 4 -4 1 0 0 0 0 0 3 3 4 1 0 -1 4 1 4 0 -1 -2 1 -1 -1 0 0 0 0 0 -3 -4 2 -5 5 -1 3 -5 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 -1 -1 1 0 1 1 0 -4 z M 429 693 l -4 1 -3 2 -2 4 1 3 0 0 0 1 2 3 0 3 0 0 0 1 -1 -1 -1 0 -1 1 4 2 3 6 2 2 -2 1 3 2 -2 1 0 0 0 0 -3 1 -4 1 1 -2 1 -1 -4 -1 3 -3 -4 -1 -3 -4 -3 1 -1 2 0 0 -1 0 0 0 -1 0 -1 -1 -2 -1 -1 2 0 0 -1 0 -3 -1 0 5 -3 2 -3 2 -7 4 0 4 2 -3 5 -2 4 -2 0 -1 0 -1 1 -1 1 1 1 0 0 0 1 -1 2 1 0 0 -1 4 1 4 0 0 0 0 1 -1 0 1 0 0 0 1 2 1 -4 3 -2 2 -1 0 0 0 -1 0 0 0 0 0 0 0 0 0 -4 -1 -1 2 4 2 -2 3 -1 5 -1 7 1 6 1 -2 0 0 1 0 1 -1 0 0 0 0 -1 -1 1 0 0 0 0 -2 -1 -1 4 2 1 5 -1 -2 -1 4 -2 4 -4 2 -6 0 0 -4 5 -1 -5 -3 -1 -3 -1 2 0 -1 -1 2 -2 -1 -1 -1 -2 1 -2 -1 -1 1 -1 -1 -1 0 1 0 -1 -3 4 -1 4 -1 0 -1 -3 -5 -1 -4 -1 1 0 -1 -1 0 0 0 -1 2 -2 3 0 3 0 0 0 0 0 0 0 0 0 0 -4 2 -2 -1 0 0 0 -1 -1 -1 1 -1 0 -1 0 0 0 0 0 0 0 -1 0 0 0 0 0 0 -4 0 -6 0 -2 7 -6 1 -4 2 0 1 -3 -4 -3 -2 3 -1 -2 0 -2 0 0 -1 -1 0 1 0 -1 1 0 0 -4 -1 -5 -4 -1 -3 0 1 2 -2 1 -2 -1 -2 0 -4 1 -2 0 0 0 0 -2 -2 0 -5 1 -4 2 -3 -3 2 -2 5 -1 4 0 0 0 0 0 0 0 0 -2 0 0 0 1 -3 -2 0 1 0 -3 1 2 2 2 4 0 3 -1 0 0 1 -1 1 1 0 0 0 0 -1 -1 0 -1 -1 -2 2 -3 -2 0 0 -1 0 0 0 0 1 0 0 -3 1 -1 -2 0 0 0 -2 -4 -3 1 3 -1 2 1 0 0 0 -1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 -2 1 -4 5 -5 0 -2 -2 0 0 0 0 -1 1 -5 2 -4 1 0 0 -1 -1 -2 -5 3 -6 0 -3 -1 -2 -3 -5 -4 -3 -3 -4 -4 -4 0 -4 -4 -6 -5 -3 -4 -6 0 -8 -1 -4 -2 -3 -3 -8 4 -4 2 -3 -1 -4 0 0 0 0 0 -1 2 -3 3 -5 3 -3 1 -5 -4 -3 0 -5 -2 -8 -6 -6 2 -8 1 -3 2 -4 1 -8 2 -7 3 -3 0 -5 2 -8 5 -3 3 -4 3 -6 5 -2 6 -2 3 -2 4 -3 3 -5 3 -2 4 5 4 3 1 4 3 -1 1 0 5 3 7 2 8 0 5 2 1 0 1 0 1 4 2 4 5 4 3 3 2 4 1 7 -2 4 -1 0 0 0 -2 3 5 3 3 2 2 0 3 -2 8 -1 7 1 3 3 5 3 7 -1 7 -3 5 0 2 -3 3 -7 0 5 1 7 3 3 3 3 6 3 7 -2 8 1 7 2 8 0 6 -3 5 -1 4 -5 4 -3 3 -1 3 0 5 4 7 0 0 8 -5 5 4 4 3 2 2 0 0 0 1 0 3 -1 1 3 5 3 4 3 2 3 4 5 6 2 4 1 1 7 -2 3 0 0 0 3 -3 2 -7 0 -3 6 -1 5 -4 1 -6 3 -1 3 -3 -1 -2 0 -1 4 -4 6 -7 1 -6 2 -5 1 -1 6 0 5 -9 0 -4 1 2 2 5 4 1 3 -2 2 -3 2 -4 1 2 -2 0 -1 -4 -1 -2 6 -3 -2 -1 -3 -3 1 -2 -1 -2 0 -1 1 0 -3 -2 -6 -2 3 -1 1 0 -1 -1 -1 0 -1 -1 1 -3 -3 -3 2 1 0 -1 0 1 1 -1 0 -2 -5 -2 -6 4 -6 z " />
<path id=<%= distancingval17 %> class="OUTLINE CD"  d =" M 115 1034 l 5 2 3 2 5 3 6 2 3 5 -1 4 0 0 1 0 0 0 1 1 2 1 -2 1 3 0 -1 7 -2 1 -3 7 -4 4 -3 5 -3 5 -5 4 -5 0 -3 1 0 0 0 0 0 0 -1 1 -2 1 0 1 -3 1 -8 2 -4 0 0 0 -2 0 -3 2 -6 3 -7 0 -8 1 -7 1 -7 -1 -8 0 -7 0 -6 1 -3 5 -6 -1 -3 -4 -4 -3 -5 -2 -2 -4 -2 -8 2 -7 3 -4 1 0 1 0 3 -3 4 -3 3 -5 3 -4 4 -2 6 -4 4 -2 5 -1 6 -1 7 -3 4 -2 4 -1 5 -1 -1 1 4 -1 7 -1 6 -2 3 -3 1 1 0 0 1 0 0 1 0 0 1 0 2 -1 2 0 1 0 0 0 1 0 6 -1 z " />
</g><g filter="url(#dropshadow)">

<text id = "TCD11" class="TEXT" x="156" y="214">서울</text>
<text id = "TCD26" class="TEXT" x="503" y="695">부산</text>
<text id = "TCD27" class="TEXT" x="418" y="567">대구</text>
<text id = "TCD28" class="TEXT" x="67" y="177">인천</text>
<text id = "TCD29" class="TEXT" x="127" y="707">광주</text>
<text id = "TCD30" class="TEXT" x="221" y="463">대전</text>
<text id = "TCD31" class="TEXT" x="531" y="622">울산</text>
<text id = "TCD36" class="TEXT" x="199" y="418">세종</text>
<text id = "TCD41" class="TEXT" x="216" y="245">경기도</text>
<text id = "TCD42" class="TEXT" x="370" y="179">강원도</text>
<text id = "TCD43" class="TEXT" x="294" y="381">충청북도</text>
<text id = "TCD44" class="TEXT" x="105" y="449">충청남도</text>
<text id = "TCD45" class="TEXT" x="179" y="592">전라북도</text>
<text id = "TCD46" class="TEXT" x="138" y="764">전라남도</text>
<text id = "TCD47" class="TEXT" x="447" y="460">경상북도</text>
<text id = "TCD48" class="TEXT" x="367" y="672">경상남도</text>
<text id = "TCD50" class="TEXT" x="76" y="1070">제주특별자치도</text>
</g></svg> 

              </div>
              <section> 
                  <!-- 지역 별 팝업 시스템 -->
                  <div class="background area0">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left">
                          </div>
                          <div class = "area-right">
                            <div> 
                            <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                            <button id="close0" class = "hidden_close" ></button> 
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area1">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close1" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area2">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close2" class = "hidden_close"></button>
                         </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area3">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close3" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area4">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close4" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area5">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close5" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area6">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close6" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area7">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close7" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area8">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close8" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area9">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close9" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area10">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close10" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area11">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close11" class = "hidden_close"></button>
                         </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area12">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close12" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area13">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close13" class = "hidden_close"></button>
                         </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area14">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close14" class = "hidden_close"></button>
                        </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area15">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close15" class = "hidden_close"></button>
                         </div>
                        </div>
                      </div>
                  </div>

                  <div class="background area16">
                      <div class="window">
                        <div class="popup">
                          <div class = "area-left"></div>
                          <div class = "area-right">
                            <div> 
                              <span>여행정보</span>
                            <select name = "travellist">
                              <option value="attraction">관광지</option>
                              <option value="culture">문화시설</option>
                              <option value="festival">축제/공연/행사</option>
                              <option value="travelcourse">여행코스</option>
                              <option value="leports">레포츠</option>
                              <option value="sleep">숙박</option>
                              <option value="shopping">쇼핑</option>
                              <option value="food">음식</option>
                            </select> 
                            <button class = "reget-button">검색</button>
                            </div>
                            <p>랜덤으로 8개의 여행지를 제공합니다. 다양한 곳으로 떠나봐요!</p>
                          <button id="close16" class = "hidden_close"></button> 
                        </div>
                        </div>
                      </div>
                  </div>
              </section>
           </div> 
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-12 status-now">
      <div class="card shadow mb-4">
        <div class="card-header">
          <h6 class="m-0 fw-bold" style="color:#065C6F;font-size: 1.2rem ;font-family: 'twayair';">코로나19 시ㆍ도 발생 현황</h6>
        </div>
        <div class="card-body">
          <table class="table table-sm table-bordered">
            
            <thead>
              <tr>
                
                <th colspan="3"style="background-color:#CDFFFC">감염현황</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <th scope="col">확진환자</th>
                <th scope="col">사망자</th>
                <th scope="col">해외유입</th>
                <!-- <th scope="col">확진환자</th>
                <th scope="col">사망자</th>
                <th scope="col">해외유입</th> -->

              </tr>
              <tr>
                <th scope="row"><h id="total"style="padding: 10px"></h><br><p style="color: red;">신규: <h id="new"></h></p></th>
                <th scope="row"style="padding: 20px;"><h id="die"></h></th>
                <th scope="row"style="padding: 20px"> <h id="foreign"></h> </th>
                <!-- <th scope="row"><h id="total"></h><br><p style="color: red;">신규: <h id="new"></h></p></th>
                <th scope="row"style="padding: 20px;"><h id="die"></h></th>
                <th scope="row"><h id="foriegn"></h> </th> -->
              </tr>
              </tbody>
          </table>
          <table class="table table-sm table-bordered"style="white-space:  nowrap;">
            <thead>
              <tr>
                
                <th scope="col"style="background-color:#CDFFFC">지역</th>
                <th scope="col"style="background-color:#CDFFFC;">누적확진자</th>
                <th scope="col"style="background-color:#CDFFFC;"style="max-width:10px">신규확진자</th>
                <!-- <ion-icon name="caret-up-outline"style="color:red;"></ion-icon> -->
              </tr>
            </thead>
            <tbody style="font-weight:bold;">
              <tr>
                <th scope="row">서울시</th>
                <td ><h id="a1"></h></td>
                <td ><h id="d1"></h></td>
                
              </tr>
              <tr>
                <th scope="row">부산시</th>
                <td><h id="a2"></h></td>
                <td><h id="d2"></h></td>
              </tr>
              <tr>
                <th scope="row">대구시</th>
                <td><h id="a3"></h></td>
                <td><h id="d3"></h></td>
              </tr>
              <tr>
                <th scope="row">인천시</th>
                <td><h id="a4"></h></td>
                <td><h id="d4"></h></td>
              </tr>
              <tr>
                <th scope="row">광주시</th>
                <td><h id="a5"></h></td>
                <td><h id="d5"></h></td>
              </tr>
              <tr>
                <th scope="row">대전시</th>
                <td><h id="a6"></h></td>
                <td><h id="d6"></h></td>
              </tr>
              <tr>
                <th scope="row">울산시</th>
                <td><h id="a7"></h></td>
                <td><h id="d7"></h></td>
              </tr>
              <tr>
                <th scope="row">세종시</th>
                <td><h id="a8"></h></td>
                <td><h id="d8"></h></td>
              </tr>
              <tr>
                <th scope="row">경기도</th>
                <td><h id="a9"></h></td>
                <td><h id="d9"></h></td>
              </tr>
              <tr>
                <th scope="row">강원도</th>
                <td><h id="a10"></h></td>
                <td><h id="d10"></h></td>
              </tr>
              <tr>
                <th scope="row">충청북도</th>
                <td><h id="a11"></h></td>
                <td><h id="d11"></h></td>
              </tr>
              <tr>
                <th scope="row">충청남도</th>
                <td><h id="a12"></h></td>
                <td><h id="d12"></h></td>
              </tr>
              <tr>
                <th scope="row">전라북도</th>
                <td><h id="a13"></h></td>
                <td><h id="d13"></h></td>
              </tr>
              <tr>
                <th scope="row">전라남도</th>
                <td><h id="a14"></h></td>
                <td><h id="d14"></h></td>
              </tr>
              <tr>
                <th scope="row">경상북도</th>
                <td><h id="a15"></h></td>
                <td><h id="d15"></h></td>
              </tr>
              <tr>
                <th scope="row">경상남도</th>
                <td><h id="a16"></h></td>
                <td><h id="d16"></h></td>
              </tr>
              <tr>
                <th scope="row">제주도</th>
                <td><h id="a17"></h></td>
                <td><h id="d17"></h></td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="anchor" id="flightinfo"></div>
      <div class="col-xl-12 col-lg-12 status-now">
        <div class="card shadow mb-4">
           <div class="card text-center">
          <div class="card-header">
            <h6 class="m-0 fw-bold" style="color:#3b3b3b;font-size: 1.2rem ;font-family: 'twayair';float: left;">해외 국가별 최신 안전 뉴스</h6>
          </div>
          <div class="card-body">
            <div class="rolling_box">
              <ul id ="rolling_box">
                <li class="card_sliding" id ="first"><p></p></li>
                <li class="" id ="second"><p></p></li>
                <li class="" id ="third"><p></p></li>
              </ul>
           </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            
    <div class="row">
      <div class="anchor" id="flightinfo"></div>
      <div class="col-xl-4 col-lg-12 status-now">
        <div class="card shadow mb-4">
           <div class="card text-center">
          <div class="card-header">
            <h6 class="m-0 fw-bold" style="color:#3b3b3b;font-size: 1.2rem ;font-family: 'twayair';float: left;">해외 출국전 확인사항</h6>
            <!-- <ul class="nav nav-pills" role="tablist" style="flex-direction: row; justify-content:left">
              <li class="nav-item">
                <a class="nav-link disabled " href="#" ><h6 class="m-0 fw-bold" style="color:#3b3b3b;font-size: 1.2rem ;font-family: 'twayair';float: left;">해외 출국전 확인사항</h6></a> -->
              <!-- <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#America">미국</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Japan">일본</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Europe">유럽</a> -->
              <!-- </li>
            </ul> -->
          </div>
            <div class="card-body" style="overflow: scroll; overflow-x: hidden; height:30rem;">
              <pre style="overflow:auto; overflow-x:hidden;  white-space: pre-wrap; text-align: center; font-family: NanumSquareRound;"><%= string_ %></pre>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col"> -->
    <div class="col-xl-4 col-lg-12 status-now">
      <div class="card shadow mb-4">
         <div class="card text-center">
        <div class="card-header"style="text-align:left">
          <h6 class="m-0 fw-bold" style="color:#3b3b3b;font-size: 1.2rem ;font-family: 'twayair';float: left;">백신 접종률</h6>
          </div>
          <div class="card-body"style="height:30rem;">
            <div>
              <!-- <canvas id="pieChart" style="max-width: 300px;margin: 0 auto;"></canvas>
              <div style="margin-left: 3rem;margin-right: 3rem;">
              <canvas id="pieChart_1" style="max-width: 200px;float: left;"></canvas>
              <canvas id="pieChart_2" style="max-width: 200px;float: left;"></canvas> -->
              <div class="middle fw-bold" id = "update-date" style="text-align: right;color:lightgray">
                업데이트 날짜: 2021-12-04
              </div>
              <div class="middle fw-bold" style="text-align: left;margin-top: 7%;">
              1차 접종 현황
              </div>
              <div class="small fw-bold" style="text-align: right;">
                
                <span class="float-right mb-2">(접종완료 </span><span class="text-info">1412312명</span> ,미접종 
                <span class="text-danger">1241명</span>)</span>
                
              </div>
              <div class="progress mb-4" style="margin-top: 1%;height: 30px;">
                <div class="progress-bar bg-info percentage_1" role="progressbar" aria-valuenow="81.9" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="" style="width: 82.9%;" data-original-title="격리자 1,421명">82.9%</div>
                <div class="progress-bar bg-danger percentage_2" role="progressbar" aria-valuenow="18.1" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="" style="width: 17.1%;" data-original-title="사망자 438명">17.1%</div>
              </div>
              <div class="middle fw-bold" style="text-align: left;margin-top: 3rem;">
                2차 접종 현황
                </div>
                <div class="small fw-bold" style="text-align: right;">
                  
                  <span class="float-right mb-2">(접종완료 </span><span class="text-info">1412312명</span> ,미접종 
                  <span class="text-danger">1241명</span>)</span>
                  
                </div>
                <div class="progress mb-4" style="margin-top: 1%;height: 30px;">
                  <div class="progress-bar bg-info percentage_1" role="progressbar" aria-valuenow="81.9" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="" style="width: 80.1%;" >80.1%</div>
                  <div class="progress-bar bg-danger percentage_2" role="progressbar" aria-valuenow="18.1" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="" style="width: 19.9%;" >19.9%</div>
                </div>
                <div class="middle fw-bold" style="text-align: left;margin-top: 3rem;">
                  부스터샷 접종 현황
                  </div>
                  <div class="small fw-bold" style="text-align: right;">
                    
                    <span class="float-right mb-2">(접종완료 </span><span class="text-info">1412312명</span> ,미접종 
                    <span class="text-danger">1241명</span>)</span>
                    
                  </div>
                  <div class="progress mb-4" style="margin-top: 1%;height: 30px;">
                    <div class="progress-bar bg-info percentage_1" role="progressbar" aria-valuenow="81.9" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="" style="width: 11.6%;" >11.6%</div>
                    <div class="progress-bar bg-danger percentage_2" role="progressbar" aria-valuenow="18.1" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="bottom" title="" style="width: 88.4%;" >88.4%</div>
                  </div>
      
        </div>
          
          </div>
          </div>
          </div>
    </div>
    <!-- <div class="col-xl-12 col-lg-12 status-now">
      <div class="card shadow mb-4">
         <div class="card text-center">
          <div class="card-header"style="text-align:left">
            <h6 class="m-0 fw-bold text-danger">각종 수치</h6>
          </div>
          <div class="card-body">
            </div>
          </div>
          </div>
          </div>
          </div> -->
    <!-- <div class="anchor" id="mask"></div> -->
    <div class="col-xl-4 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header"style="text-align:left">
          <h6 class="m-0 fw-bold" style="color:#3b3b3b;font-size: 1.2rem ;font-family: 'twayair';float: left;">
            마스크 관련 지침
          </h6>
        </div>
        <div class="card-body"style="height:30rem;">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"style="margin-top:3%;object-fit: cover;">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/mask_01.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_02.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_03.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_04.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_05.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_06.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_07.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_08.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_09.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/mask_10.jpg" height="420rem"class="d-block w-100" alt="...">
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    
    <!-- <div class="row">
     
      <div class="anchor" id="mask"></div>
      <div class="col-xl-4 col-lg-12">
        <div class="card shadow mb-4">
        
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 fw-bold text-danger">
              변경된 마스크 관련 지침
            </h6>
          </div>
          <div class="card-body">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="img/mask_01.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_02.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_03.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_04.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_05.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_06.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_07.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_08.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_09.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mask_10.jpg" class="d-block w-100" alt="...">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        </div>
  </div>
  </div> -->
  
</div>
</div>
</div>
</div>

</body>
  
  
    
  
<!-- FOOTER -->
<footer class="w-100 py-3 flex-shrink-0">
  <div class="container py-2">
      <div class="row gy-4 gx-5">
          <div class="col-lg-4 col-md-6">
              <h5 class="h3 text-black">2021 Open Source Project.</h5>
              <p class="small text-muted">라이센스 넣을 것들 여기로</p>
              <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. </p>
          </div>
          <div class="col-lg-2 col-md-6">
              <!-- <h5 class="text-white mb-3">Quick links</h5>
              <ul class="list-unstyled text-muted">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Get started</a></li>
                  <li><a href="#">FAQ</a></li>
              </ul> -->
          </div>
          <div class="col-lg-2 col-md-6">
              <!-- <h5 class="text-white mb-3">Quick links</h5>
              <ul class="list-unstyled text-muted">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Get started</a></li>
                  <li><a href="#">FAQ</a></li>
              </ul> -->
          </div>
          <div class="col-lg-4 col-md-6">
              <h4 class="text-black mb-3">Contact.</h5>
              <p class="small text-muted">2018102189 박선홍: 2018102189@gmail.com<br>2018102244 최우성: dntjd991223@naver.com<br>2019102624 김진환: sodlfmag@gmail.com</p>
              
          </div>
      </div>
  </div>
</footer>


<!-- woosung script files -->
<script src="js/map.js"></script>
<script type = "text/javascript" src = "crawling-info.json"></script>
<script src="js/hiddeninfo.js"></script>
<script src="js/travelinfo.js"></script>
<script type = "text/javascript" src = "test_vaccine.json"></script>
<script src = "js/vaccinedata_control.js"></script>
<script type = "text/javascript" src = "headline_info.json"></script>
<script src = "js/rolling_headline.js"></script>
</body>
<!-- <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script> -->
<script type="text/javascript">
/* EXPANDER MENU */
const showMenu = (toggleId, navbarId, bodyId) => {
    const toggle = document.getElementById(toggleId),
    navbar = document.getElementById(navbarId),
    bodypadding = document.getElementById(bodyId)

    if( toggle && navbar ) {
        toggle.addEventListener('click', ()=>{
            navbar.classList.toggle('expander');

            bodypadding.classList.toggle('body-pd')
        })
    }
}

showMenu('nav-toggle', 'navbar', 'body-pd')

/* LINK ACTIVE */
const linkColor = document.querySelectorAll('.nav__link')
function colorLink() {
    linkColor.forEach(l=> l.classList.remove('active'))
    this.classList.add('active')
}
linkColor.forEach(l=> l.addEventListener('click', colorLink))

/* COLLAPSE MENU */
const linkCollapse = document.getElementsByClassName('collapse__link')
var i

for(i=0;i<linkCollapse.length;i++) {
    linkCollapse[i].addEventListener('click', function(){
        const collapseMenu = this.nextElementSibling
        collapseMenu.classList.toggle('showCollapse')

        const rotate = collapseMenu.previousElementSibling
        rotate.classList.toggle('rotate')
    });
}




const numberWithCommas  = (x) => {
   return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
document.querySelector('#total').innerText = numberWithCommas( <%=accumu_total%> );
document.querySelector('#new').innerText = numberWithCommas( <%=new_total%> );
document.querySelector('#die').innerText = numberWithCommas( <%=isol%> );
document.querySelector('#foreign').innerText = numberWithCommas( <%=foreign%> );

document.querySelector('#a1').innerText = numberWithCommas( <%=accumu_1%> );
document.querySelector('#a2').innerText = numberWithCommas( <%=accumu_2%> );
document.querySelector('#a3').innerText = numberWithCommas( <%=accumu_3%> );
document.querySelector('#a4').innerText = numberWithCommas( <%=accumu_4%> );
document.querySelector('#a5').innerText = numberWithCommas( <%=accumu_5%> );
document.querySelector('#a6').innerText = numberWithCommas( <%=accumu_6%> );
document.querySelector('#a7').innerText = numberWithCommas( <%=accumu_7%> );
document.querySelector('#a8').innerText = numberWithCommas( <%=accumu_8%> );
document.querySelector('#a9').innerText = numberWithCommas( <%=accumu_9%> );
document.querySelector('#a10').innerText = numberWithCommas( <%=accumu_10%> );
document.querySelector('#a11').innerText = numberWithCommas( <%=accumu_11%> );
document.querySelector('#a12').innerText = numberWithCommas( <%=accumu_12%> );
document.querySelector('#a13').innerText = numberWithCommas( <%=accumu_13%> );
document.querySelector('#a14').innerText = numberWithCommas( <%=accumu_14%> );
document.querySelector('#a15').innerText = numberWithCommas( <%=accumu_15%> );
document.querySelector('#a16').innerText = numberWithCommas( <%=accumu_16%> );
document.querySelector('#a17').innerText = numberWithCommas( <%=accumu_17%> );

document.querySelector('#d1').innerText = numberWithCommas( <%=distancingval1%> );
document.querySelector('#d2').innerText = numberWithCommas( <%=distancingval2%> );
document.querySelector('#d3').innerText = numberWithCommas( <%=distancingval3%> );
document.querySelector('#d4').innerText = numberWithCommas( <%=distancingval4%> );
document.querySelector('#d5').innerText = numberWithCommas( <%=distancingval5%> );
document.querySelector('#d6').innerText = numberWithCommas( <%=distancingval6%> );
document.querySelector('#d7').innerText = numberWithCommas( <%=distancingval7%> );
document.querySelector('#d8').innerText = numberWithCommas( <%=distancingval8%> );
document.querySelector('#d9').innerText = numberWithCommas( <%=distancingval9%> );
document.querySelector('#d10').innerText = numberWithCommas( <%=distancingval10%> );
document.querySelector('#d11').innerText = numberWithCommas( <%=distancingval11%> );
document.querySelector('#d12').innerText = numberWithCommas( <%=distancingval12%> );
document.querySelector('#d13').innerText = numberWithCommas( <%=distancingval13%> );
document.querySelector('#d14').innerText = numberWithCommas( <%=distancingval14%> );
document.querySelector('#d15').innerText = numberWithCommas( <%=distancingval15%> );
document.querySelector('#d16').innerText = numberWithCommas( <%=distancingval16%> );
document.querySelector('#d17').innerText = numberWithCommas( <%=distancingval17%> );


</script>

</html>